.ListLayout{
    background-color: #F0F0F0;
    border: 5px solid #F0F0F0;
    padding: 10px 0;
    border-radius:  5px ;
    margin-top: 10px;
}
.ListButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.FilterButtom{
    background-color: rgb(255, 255, 255);
}
.FinishButton{
    height: 35px;
    padding: 0 5px;
    border-radius: 5px 5px 0 0;
    border: 0px;
}
.FilterFinishButtom{
    background-color: rgb(189, 189, 189);
}
.OtherButton{
    height: 35px;
    padding: 0 5px;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    border: 0px;
}
ul{
    background-color: white;
    padding: 0;
    width: 100%;
    margin: 0;
}
ul li{
    height: auto;
    list-style-type: none;
    border-bottom: 3px solid #F0F0F0;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ListContent{
    min-width: 80%;
    height: auto;
    margin: 10px 0;
    display: flex;
}
li input{
    zoom: 130%;
    margin: 1px 10px 0 5px;
}
li p{
    max-width: 95%;
    word-wrap:break-word;
    height: auto;
    margin: 0;
}
.FinishList{
    background-color: rgb(189, 189, 189);
    list-style: circle;
}
.ListEnd{
    display: none
}
.FilishToDo{
    padding: 0 0 0 10px;
    font-size: 30px;
    color: #00a326;
    font-weight: bold;
}
.DeleteList{
    padding: 0 0 0 10px;
    color: red;
    font-size: 40px;
    background-color: rgba(255, 222, 173, 0);
    border: 0px;
}
.done {
    text-decoration: line-through;
}
.ClearButton{
    display: flex;
    justify-content: center;
}
.ClearList{
    border: 3px solid blue;
    border-radius: 5px;
    padding: 5px;
    color: blue;
    margin-top: 10px;
    font-size: 20px;
    transition-duration: 0.5s;
}
.ClearList:hover{
    color: white;
    background-color: blue;
}